<footer class="sidebar-footer site-footer">

<a href="<%= feed_path %>" class="feed-link hidden-xs"><div id="back-to-feed-button"><%= image_tag("Back-Arrow.png", class: "feed-back-arrow", width: "19", height: "9")%><font class="feed-back-title">Browse More</font></div></a>
  <div class="sidebar-footer-sections">
    <ul class="sidebar-footer-list" style= "margin-bottom: 0;">
      <li><a href="https://www.facebook.com/"><%= image_tag("fb-grey-logo.png", :class => "sidebar-footer-social-img hidden-xs") %></a></li>
      <li><a href="https://twitter.com/"><%= image_tag("twitter-grey-logo.png", :class => "sidebar-footer-social-img hidden-xs") %></a></li>
    </ul>
  </div>
      <p class="copyright">An image sharing community hosted by Ruben Avila Aguilar</p>
</footer>